body{
    background-color: #fff;
}a:hover{
    text-decoration: none !important; color: #64b6f7 !important;
}.whatsapp {
    position: fixed;
    top: 82%;
    right: 1%;
    padding: 10px;
    z-index: 10000000;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Dosis', sans-serif !important;
}
.nav-link{
    padding-top: 25px !important; font-family: 'Dosis', sans-serif; font-size: 14px; text-transform: uppercase; color: #000; font-weight: 700;
}.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}.menu{
    padding: 10px 0 10px;
}.menu:after{
    position: absolute;
    content: '';
    bottom: -19px;
    width: 100%;
    height: 20px;
    margin: 0 auto;
    background: url('/imagens/tema/header-curved.png') center center no-repeat;
}.destaque{
    padding: 50px 0 50px;
}.destaque h1{
    text-transform: uppercase; font-weight: 700;
}.destaque h2{
    font-family: 'Amatic SC', cursive !important;
}.diferenciais{
    margin-top: 50px;
}.diferenciais h2{
    font-family: 'Dosis', sans-serif !important; font-weight: 700; font-size: 26px; text-transform: uppercase; text-align: center;
}.diferenciais .col-md-4{
    transition: 0.3s;
}.diferenciais .col-md-4:hover{
    margin-top: -40px; transition: 0.3s; 
}.bg-azul{
    background-color: #65b7f8; color: #ffffff; padding: 20px;
}.bg-verde{
    background-color: #80ab46; color: #ffffff; padding: 20px;
}.bg-amarelo{
    background-color: #fefa73; color: #ffffff; padding: 20px;
}.bg-rosa{
    background-color: #d148f4; color: #ffffff; padding: 20px;
}.cta{
    padding: 60px 0 60px;
}.cta h1{
    font-family: 'Amatic SC', cursive !important; font-weight: 700; font-size: 40px !important;
}.cta_1{
    background-color: #80ab46; background-image: url('/imagens/tema/bg_cta_1.png'); color: #ffffff;
}.icones{
    background-color: #ffffff; padding: 100px 0 100px;
}.icones h3{
    font-family: 'Dosis', sans-serif !important; font-weight: 600; font-size: 22px;
}.icone{
    position: absolute;
    width: 60px;
    height: 60px;
    font-size: 24px;
    color: #ffffff;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 20px !important;
}.icone:before {
    position: absolute;
    content: '';
    left: -5px;
    top: -5px;
    bottom: -5px;
    right: -5px;
    border-radius: 50%;
}.icone-azul{
    background-color: #64b6f7;
}.icone-azul:before{
    border: 1px dashed #64b6f7;
}.icone-vermelho{
    background-color: #de2b22;
}.icone-vermelho:before{
    border: 1px dashed #de2b22;
}.icone-rosa{
    background-color: #d148f4;
}.icone-rosa:before{
    border: 1px dashed #d148f4;
}.icone-verde{
    background-color: #a0d15f;
}.icone-verde:before{
    border: 1px dashed #a0d15f;
}.footer{
    padding: 50px 0 50px; margin-top: 50px; background: #313131 url('/imagens/tema/pattern-2.png'); color: #909090;
}.footer h3{
    color: #ffffff;
}.footer a{
    color: #909090;
}.footer li{
    line-height: 32px;
}.social-links-two{
    position: relative;
}.social-links-two li a {
    position: relative;
    width: 32px;
    height: 32px;
    font-size: 12px;
    color: #ffffff;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
}.social-links-two li {
    position: relative;
    margin-right: 15px;
    display: inline-block;
    border-radius: 50%;
}.social-links-two:before{
    border: solid 1px #ffffff;
}.social-links-two li.facebook a {
    background-color: #4d6bab;
    -webkit-box-shadow: 0px 0px 0px 4px rgba(77,107,171,0.50);
    -ms-box-shadow: 0px 0px 0px 4px rgba(77,107,171,0.50);
    box-shadow: 0px 0px 0px 4px rgba(77,107,171,0.50);
}.social-links-two li.instagram {
    background-color: #d4636e;
    -webkit-box-shadow: 0px 0px 0px 4px rgba(78,198,248,0.50);
    -ms-box-shadow: 0px 0px 0px 4px rgba(78,198,248,0.50);
    box-shadow: 0px 0px 0px 4px rgba(234,96,96,0.50);
}ul, li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}.copyright{
    border-top: solid 1px #909090; padding-top: 10px;
}.noticias{
    padding: 100px 0 100px 0;
}.qdo_negro{
    background-image: url('/imagens/tema/bg_quadronegro.jpg'); background-position: center center; background-repeat: no-repeat; background-size: 100%; padding: 100px 0 100px; color: #fff;
}.qdo_negro h1{
    color: #fff; font-family: 'Amatic SC', cursive !important; font-size: 70px !important; text-align: center;
}.professores{
    padding: 100px 0 100px;
}.professores h1{
    text-transform: uppercase; font-weight: 700; color: #64b6f7;
}.professores h2{
    font-family: 'Amatic SC', cursive !important;
}.carousel-caption{
    bottom: 40% !important;
}.carousel-caption h3{
    font-family: 'Amatic SC', cursive !important; font-size: 90px; padding: 20px; display: inline-block; background: rgba(255,255,255,0.5); color: #000000;
}